In [1]:
input()

10

'10'

In [5]:
l= 98
type(l)
m = str(l)
type(m)

str

In [10]:
s = int(input())
t = int(input())
u = s + t

2
4

In [11]:
print(u)

6

In [14]:
k = "sneha"
print (k)

sneha

In [27]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [33]:
list1.append(8)
print(list1)

[1, 10, 2, 3, 4, 5, 8, 8]

In [34]:
list1.insert(1,10)
list1

[1, 10, 10, 2, 3, 4, 5, 8, 8]

In [35]:
list1[4]

3

In [36]:
list1[1]

10

slicing

In [37]:
list1[1:4]

[10, 10, 2]

pop means take out from last

In [38]:
list1.pop()

8

In [40]:
list1.pop(0)

1

In [48]:
list1

[10, 2, 3, 5, 8]

In [50]:
list1.remove(10)

In [51]:
list1

[2, 3, 5, 8]

In [52]:
list2 = [9,4,7,1,3,0]
list2

[9, 4, 7, 1, 3, 0]

In [53]:
list2.sort()

In [54]:
list2

[0, 1, 3, 4, 7, 9]

In [55]:
list2.reverse()
list2

[9, 7, 4, 3, 1, 0]

In [56]:
list2.clear()
list2

[]

In [57]:
list2.append("hello")

In [58]:
list2

['hello']

In [59]:
del list2

In [70]:
list1.append(['14','18'])
list1

[2, 3, 5, 8, '14', '18', '14', '18', ['14', '18']]

In [64]:
fruits = ["grapes", "apple", "cherry"]
fruits.append("banana")

In [65]:
fruits

['grapes', 'apple', 'cherry', 'banana']

In [71]:
fruits.extend(["strawberry","custard"])

In [72]:
fruits

['grapes', 'apple', 'cherry', 'banana', 'strawberry', 'custard']

In [74]:
vegetablea=['carrot', 'beetrooot']
vegetablea

['carrot', 'beetrooot']

In [75]:
fruits.extend(vegetablea)

In [76]:
fruits

['grapes',
 'apple',
 'cherry',
 'banana',
 'strawberry',
 'custard',
 'carrot',
 'beetrooot']

In [77]:
len(fruits)

8

mutable property of list mutable means data inside the list can be changed

In [79]:
sneha = ['s', 'n','e','h','h']
sneha

['s', 'n', 'e', 'h', 'h']

In [80]:
sneha[4]= 'a'
sneha

['s', 'n', 'e', 'h', 'a']

In [1]:
number = int(input("enter the number"))

enter the number4

In [2]:
f = 1
for i in range(number , 1,-1 ):
 factorial = f * i
 print(factorial)

4
3
2